@font-face {
    font-family: "Raleway Black";
    src: url(../fonts/Raleway-Black.ttf);
}

@font-face {
    font-family: "Raleway Black Italic";
    src: url(../fonts/Raleway-Black-Italic.ttf);
}

@font-face {
    font-family: "Raleway Bold";
    src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: "Raleway Bold Italic";
    src: url(../fonts/Raleway-Bold-Italic.ttf);
}

@font-face {
    font-family: "Raleway Extra Bold";
    src: url(../fonts/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: "Raleway Regular";
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: "Roboto Black";
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: "Roboto Black Italic";
    src: url(../fonts/Roboto-Black-Italic.ttf);
}

@font-face {
    font-family: "Roboto Bold";
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}
body {
    margin: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dbeef2+0,8fc9d4+100 */
    background: rgb(255, 248, 220); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 248, 220,1) 0%, rgba(255, 248, 220, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 248, 220,1) 0%,rgba(255, 248, 220, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 248, 220, 1) 0%,rgba(255, 248, 220, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbeef2', endColorstr='#8fc9d4',GradientType=0 ); /* IE6-9 */
}
.header {
    height: 255px;
    background: url(../images/javaforum.png);
    align:left;
}
.socialIconsWrap i {
    color: #FF00FF;
}
.socialIconsWrap i:hover {
    color: blue;
}

.funrideWrap {
    position: absolute;
    right: 50px;
    top: 250px;
}
.tableHead{
    background-color: #CD853F;
    wrap:color-black;
}
.table{
    background-color: darksalmon ;
}
.table1{
    background-color: darksalmon;
}
.tborder{
    color: orange;
    font-weight: normal;
}
alt1 {
    background-color: #3333
}
.tcat {
    color: #773333;
}